@using Templated_HTML_helpers.Models
@model Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.DisplayName("Name")
        <br />
        <br />
        <hr />
        @Html.DisplayFor((dob => dob.DateOfBirth))

        <br />
        <br />
        <hr />

        @Html.DisplayText("Name")

        <br />
        <br />
        <hr />

        @Html.DisplayTextFor(dob => dob.DateOfBirth)

        <br />
        <br />
        <hr />

        @Html.Display("Name")

        <br />
        <br />
        <hr />
        @Html.DisplayFor(email => email.Email)

        <br />
        <br />
        <hr />

        @Html.DisplayForModel()

    </div>
</body>
<style>
    .display-label {
        width:300px;
        padding:5px;
        background-color:aquamarine;
        border-radius:10px;
        margin:10px
    }
    .display-field {
        width: 300px;
        padding: 5px;
        background-color: blue;
        border-radius: 10px;
    }
</style>
</html>
